@{
    ViewBag.Title = "EditReadAndSign";
    Layout = "~/Areas/Administrator/Views/Shared/Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/Content/popupStyle.css" rel="stylesheet" />

<input type="hidden" value="@ViewBag.CourseId" id="CourseId" />

<button class="btn btn-primary" onclick="showWindow();"> Thêm câu hỏi</button>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="danhsachcauhoi" style="width:100%;">
            </div>
            <div class="col-md-12" style="left:50%;">
                @Html.ActionLink("Quay lại", "EditCourse", "KhoaHoc", new { CourseId = ViewBag.CourseId, slidePosition = 4 }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<div id="popup" class="popup" style="height:auto !important;">
    <div class="popup-header">
        <strong> Thêm câu hỏi</strong>
        <span class="close">&times;</span>
    </div>
    <div class="popup-content">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#Single">Thêm từng câu</a></li>
            <li><a data-toggle="tab" href="#Multiple">Thêm nhiều câu</a></li>
        </ul>
        <div class="tab-content">
            <div id="Single" class="tab-pane fade active in">
                @using (Html.BeginForm("AddNewReadAndSign", "KhoaHoc", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" id="CourseId" name="CourseId" value="@ViewBag.CourseId" />
                    <table class="col-12 danhsachdethi" style="width:100%;">
                        <tr>
                            <td>
                                <div>
                                    <div class="cauhoi">
                                        <textarea type="text" id="cauhoi_" name="cauhoi_" placeholder="Nhập câu hỏi..." style="border:solid 1px #808080;width:100%;background-color:white; height:auto; overflow:hidden; display:block; resize: none; ">
                        </textarea>
                                        <input type="file" id="QuestionfileUpload" name="QuestionfileUpload" accept="image/*" />
                                    </div>


                                    <div class="dapan">
                                        <div class="custom-control custom-radio" style="clear:left; padding-left:20px;">
                                            <input type="radio" class="custom-control-input" id="A" name="AnswerPption" style="float: left; margin-left: 20px;">
                                            <label class="custom-control-label" for="A" style="float:left;">A</label>
                                            <textarea class="textArea" type="text" id="traloia" name="traloia" placeholder="Nhập câu trả lời..." style="margin-left: 10px; float: left; border: solid 1px #808080; width: 100%; background-color: white; height: auto; overflow: hidden; display: block; resize: none; "> 
                                </textarea>
                                        </div>
                                        <div class="custom-control custom-radio " style="clear:left; padding-left:20px;">
                                            <input type="radio" class="custom-control-input" id="B" name="AnswerPption" style="float:left; margin-left:20px;">
                                            <label class="custom-control-label" for="B" style="float:left;">B</label>
                                            <textarea class="textArea" type="text" id="traloib" name="traloib" placeholder="Nhập câu trả lời..." style="margin-left:10px;float: left; border: solid 1px #808080; width: 100%; background-color: white; height: auto; overflow: hidden; display: block; resize: none; ">
                                    </textarea>
                                        </div>
                                        <div class="custom-control custom-radio " style="clear:left; padding-left:20px;">
                                            <input type="radio" class="custom-control-input" id="C" name="AnswerPption" style="float: left; margin-left: 20px;">
                                            <label class="custom-control-label" for="C" style="float:left;">C</label>
                                            <textarea class="textArea" type="text" id="traloic" name="traloic" placeholder="Nhập câu trả lời..." style="margin-left: 10px; float: left; border: solid 1px #808080; width: 100%; background-color: white; height: auto; overflow: hidden; display: block; resize: none; "> 
                                        </textarea>
                                        </div>

                                        <div class="custom-control custom-radio " style="clear:left; padding-left:20px;">
                                            <input type="radio" class="custom-control-input" id="D" name="AnswerPption" style="float: left; margin-left: 20px;">
                                            <label class="custom-control-label" for="D" style="float:left;">D</label>
                                            <textarea class="textArea" type="text" id="traloid" name="traloid" placeholder="Nhập câu trả lời..." style="margin-left: 10px; float: left; border: solid 1px #808080; width: 100%; background-color: white; height: auto; overflow: hidden; display: block; resize: none; ">
                                            </textarea>
                                        </div>
                                        <div class="custom-control custom-radio " style="clear:left; padding-left:20px;">
                                            <input type="radio" class="custom-control-input" id="E" name="AnswerPption" style="float: left; margin-left: 20px;">
                                            <label class="custom-control-label" for="E" style="float:left;">E</label>
                                            <textarea class="textArea" type="text" id="traloid" name="traloie" placeholder="Nhập câu trả lời..." style="margin-left: 10px; float: left; border: solid 1px #808080; width: 100%; background-color: white; height: auto; overflow: hidden; display: block; resize: none; ">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div style="clear: left; padding-left: 20px; text-align: left;">
                                        Đáp án đúng
                                        @Html.DropDownList("ddlDapAnDung", new SelectList(ViewBag.mylist, "Text", "Text"))
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
                }
            </div>
            <div id="Multiple" class="tab-pane fade">
                @Html.ActionLink("Tải file mẫu", "DownloadQuestionTemplate", "KhoaHoc", new { CourseId = ViewBag.CourseId, slidePosition = 4 }, new { @class = "btn btn-primary" })
                @using (Html.BeginForm("uploadQuizQuestion", "KhoaHoc", FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <input type="file" id="fileUpload" name="fileUpload" required accept="image/*" />
                        <input type="submit" value="Upload file" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        ShowListExam();

        var popup = document.getElementById("popup");
        var closeButton = document.querySelector(".popup .close");
        closeButton.addEventListener("click", function () {
            hidePopup();
        });
        document.querySelectorAll('.textArea').forEach(textarea => {
            textarea.addEventListener('input', function () {
                this.value = this.value.trimStart();
            });
        });
    });
    function showWindow() {
        popup.style.display = "block";
    }
    function hidePopup() {
        popup.style.display = "none";
    }
    function ShowListExam() {
        var id_khoahoc = $("#CourseId").val();
        $.ajax({
            type: 'GET',
            url: "/Administrator/KhoaHoc/ShowReadAndSign",
            data: { CourseId: id_khoahoc },
            contentType: 'application/html ; charset:utf-8',
            dataType: 'html',
            success: function (result) {
                if (result.toString().trim().length == 0) {
                    $(".danhsachcauhoi").empty().append("");
                }
                else {

                    $(".danhsachcauhoi").empty().append(result);
                }
            },
            error: function () {
                $(".danhsachcauhoi").empty().append('');
            },
            complete: function () {
            }
        });
    }

</script>



