@model IEnumerable<testsignalr.Models.ModelData.DanhMucChungChi>

@{
    ViewBag.Title = "DanhsachChungChi";
    Layout = "~/Areas/Administrator/Views/Shared/Layout.cshtml";
}

<h2>DanhsachChungChi</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenChungChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaChungChi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChungChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaChungChi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
