@model IEnumerable<testsignalr.Models.ModelView.ChucVuItem>
@{
    ViewBag.Title = "NhomChungChiTheoChucVu";
    Layout = "~/Areas/Administrator/Views/Shared/Layout.cshtml";
    int stt = 0;
}
<link href="~/Content/tableStyle.css" rel="stylesheet" />
<h2>NhomChungChiTheoChucVu</h2>
<select id="myCompany"></select>
<Div class="col-12">
    <Div class="col-6">
        <table class="table mytable">
            <tr>
                <th>STT</th>
                <th>Tên chức vụ</th>
            </tr>
            @foreach (var item in Model)
            {
                stt = stt + 1;
                <tr class="@item.Id">
                    <td>
                        @stt.ToString()
                    </td>
                    <td >
                        @item.TenChucVu.Trim()
                    </td>
                </tr>
            }
        </table>
    </Div>
    <Div class="col-6 tracertDiv">

    </Div>
</Div>
<script>

$(document).ready(function(){
    // Lấy danh sách từ ViewBag
    var dataList = @Html.Raw(Json.Encode(ViewBag.dsCongTy));
    var idcongty = @ViewBag.IdCongTy;
    if(dataList.length > 0) {
        // Duyệt qua mỗi đối tượng trong danh sách và thêm vào dropdown
        $.each(dataList, function(index, item) {
            var option = $('<option>', {
                value: item.Id,
                text: item.MaCongTy
            });
            if (item.Id == idcongty) {
                option.prop('selected', true);
            }
            $('#myCompany').append(option);
        });
    } else {
        // Trường hợp không có dữ liệu
        $('#myCompany').append($('<option>', {
            value: '',
            text: 'Không có dữ liệu'
        }));
    }
    $('.mytable tbody tr').dblclick(function () {
        // Lấy giá trị của class
        var classValue = $(this).attr('class');
        $('.mytable tbody tr').removeClass("Active");
        $(this).addClass("Active");
        gettracert(classValue);

    });
    $("#myCompany").change(function () {
        var selectedOption = $(this).val();
        window.location = '/Administrator/ChungChi/NhomChungChiTheoChucVu?IdCongTy=' + selectedOption;
        // Thực hiện các hành động khác dựa trên sự lựa chọn ở đây
    });
});
    function gettracert(idchucvu) {
        $.ajax({
            url: '/Administrator/ChungChi/getListTracert',
            type: 'GET',
            data: { tracertId: idchucvu },
            success: function (data) {
                $(".tracertDiv").html(data);
            },
            error: function (xhr, status, error) {
                window.location = '/Login/Signin';
            }
        });
    }
</script>
