@model IEnumerable<testsignalr.Models.ModelView.ChungChiItem>
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Areas/Administrator/Views/Shared/Layout.cshtml";
    int stt = 0;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="~/Content/tableStyle.css" rel="stylesheet" />

<ul class="nav nav-tabs">

    @foreach (var item in ViewBag.dsCongTy)
    {
        stt = stt + 1;
        if (stt == 1)
        {
            <li class="active"><a data-toggle="tab" href="#@item.MaCongTy.Trim()">@item.MaCongTy.Trim()</a></li>
        }
        else
        {
            <li><a data-toggle="tab" href="#@item.MaCongTy.Trim()">@item.MaCongTy.Trim()</a></li>
        }
    }
</ul>

<div class="tab-content">



    @foreach (var item in ViewBag.dsCongTy)
    {

    <div id="@item.MaCongTy.Trim()" class="tab-pane fade" style="height:calc(100vh); overflow:scroll;">
        <h4>1. Chứng chỉ nhân viên</h4>
        <ul>
            @foreach (var sub in Model)
            {
                if (sub.MaCongTy.Trim() == item.MaCongTy.Trim() && sub.TieuDe.Trim() == "Chứng chỉ nhân viên")
                {
                    <li>@sub.FieldName : <a href="@sub.Link" class="@(sub.FieldValue!=0?sub.cssName:"")">@sub.FieldValue</a></li>
                }
            }
        </ul>
        <h4>2. Chứng chỉ nhân viên ngoài</h4>
        <ul>
            @foreach (var sub in Model)
            {
                if (sub.TieuDe.Trim() == "Chứng chỉ nhân viên Ngoài")
                {
                    <li>@sub.FieldName : <span class="@(sub.FieldValue!=0?sub.cssName:"")">@sub.FieldValue</span></li>
                }
            }
        </ul>
        <h4>3. Thẻ nhân viên</h4>
        <ul>
            @foreach (var sub in Model)
            {
                if (sub.MaCongTy.Trim() == item.MaCongTy.Trim() && sub.TieuDe.Trim() == "Thẻ nhân viên")
                {
                    <li>@sub.FieldName : <span class="@(sub.FieldValue!=0?sub.cssName:"")">@sub.FieldValue</span></li>
                }
            }
        </ul>
        <h4>4. Lý lịch tư pháp</h4>
        <ul>
            @foreach (var sub in Model)
            {
                if (sub.MaCongTy.Trim() == item.MaCongTy.Trim() && sub.TieuDe.Trim() == "Lý lịch tư pháp")
                {
                    <li>@sub.FieldName : <span class="@(sub.FieldValue!=0?sub.cssName:"")">@sub.FieldValue</span></li>
                }
            }
        </ul>
        <h4>5. Hợp đồng lao động</h4>
        <ul>
            @foreach (var sub in Model)
            {
                if (sub.MaCongTy.Trim() == item.MaCongTy.Trim() && sub.TieuDe.Trim() == "Hợp đồng lao động")
                {
                    <li>@sub.FieldName : <a href="@sub.Link" class="@(sub.FieldValue!=0?sub.cssName:"")">@sub.FieldValue</a></li>
                }
            }
        </ul>
    </div>


    }
</div>

<script>
    $(document).ready(function () {
        $('.nav-tabs a').on('show.bs.tab', function (e) {
            var targetTab = $(e.target).attr("href"); // Get the target tab
            $(targetTab).addClass("show");
            $(targetTab).addClass("active");
            $(targetTab).addClass("in");
        });
        $('.nav-tabs li.active a').trigger('show.bs.tab');
    });
</script>